parameters:
    level: 8
    paths:
        - src
    
    # Bootstrap file for autoloading
    bootstrapFiles:
        - vendor/autoload.php
    
    # Ignore these patterns - many are intentional or acceptable at level 8
    ignoreErrors:
        # Array value types in internal caches and collections
        - '#Property .+::\$.+ type has no value type specified in iterable type array#'
        - '#Method .+ return type has no value type specified in iterable type array#'
        - '#Method .+ has parameter .+ with no value type specified in iterable type array#'
        - '#Trait .+ has PHPDoc tag @property .+ with no value type specified in iterable type array#'
        - '#Trait .+ has PHPDoc tag @method .+ with no value type specified in iterable type array#'
        
        # Offset checks that are always true due to type narrowing
        - '#Offset .+ on array.+ in isset\(\) always exists and is not nullable#'
        - '#Offset .+ on left side of \?\? always exists and is not nullable#'
        
        # Boolean expressions always evaluating same due to type narrowing
        - '#Strict comparison using === between .+ will always evaluate to (true|false)#'
        - '#Result of .+ is always (true|false)#'
        - '#Negated boolean expression is always (true|false)#'
        - '#Result of && is always false#'
        
        # Safe use of new static() in concrete classes
        - '#Unsafe usage of new static\(\)#'
        
        # Call to method that always exists via traits
        - '#Call to an undefined method object::.+\(\)#'
        - '#Call to an undefined method MonkeysLegion\\\\Query\\\\AbstractQueryBuilder::.+\(\)#'
        
        # PHPDoc types treated as certain
        - '#function is_subclass_of\(\).+will always evaluate to true#'
        - '#Because the type is coming from a PHPDoc#'
        - '#Call to function is_string\(\) with .+ will always evaluate to true#'
        
        # Argument count in optional parameter methods
        - '#invoked with \d+ parameters, \d+ required#'
        
        # str_replace arguments (int/float values passed to str_replace are safe at runtime)
        - '#of function str_replace expects#'
        
        # Nullable strings passed to string functions with null coalescing fallbacks
        - '#of function stripos expects string, string\|null given#'
        - '#of function substr expects string, string\|null given#'
        - '#of function strtolower expects string, string\|null given#'
        - '#of function preg_replace expects#'
        - '#of function preg_replace_callback expects#'
        - '#of function preg_match expects string, string\|null given#'
        
        # Return type narrowing
        - '#should return string but returns string\|null#'
        
        # class-string constraints with string variables that are verified at runtime
        - '#of class ReflectionClass constructor expects class-string#'
        
        # HydrationContext expectation
        - '#expects string, class-string\|false given#'
        
        # Property assignment with class-string (verified at runtime)
        - '#\(class-string\) does not accept string#'
        
        # Return type covariance (int vs int|string)
        - '#should return int but returns int\|string#'
    
    reportUnmatchedIgnoredErrors: false
